<footer class="footer">
  <p>The UI for this page extends the Antora default UI.</p>
  <p>The source code for the Antora default UI is licensed under the terms of the MPL-2.0 license.</p>
  <p>Extensions and content are licensed under AL2</p>
</footer>
